.dropdown {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links li:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: 10px 20px;
    color: #622174;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #f0baff;
    border-radius: 5px;
}